In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pandas import json_normalize

In [2]:
url='https://www.rtfloodbma.com/api/rains';
data_rains=pd.read_json(url,orient='columns')
data_rains

      success                                               data
0        True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
1        True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
2        True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3        True  {'agency': {'agency_name': {'th': 'กรมทรัพยากร...
4        True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
...       ...                                                ...
3234     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3235     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3236     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3237     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3238     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...

[3239 rows x 2 columns]

In [3]:
url='https://www.rtfloodbma.com/api/waters';
data_waters=pd.read_json(url,orient='columns')
data_waters

     success                                               data
0       True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
1       True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
2       True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3       True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
4       True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
..       ...                                                ...
260     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
261     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
262     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
263     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
264     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...

[265 rows x 2 columns]

เข้าถึง list ที่มี key station

In [4]:
station=pd.DataFrame(data_rains.data.values.tolist())['station']
pd.DataFrame(station).from_records(station)
pd.json_normalize(station)

,id,tele_station_lat,tele_station_long,tele_station_oldcode,tele_station_type,sub_basin_id,tele_station_name.th
0,795,8.174974,99.678886,NKO001,rainfall_24h,2209,ทุ่งสง
1,740735,8.193921,99.734835,FOP034,rainfall_24h,2209,ฝายคลองเปิก
2,740733,8.090225,99.738835,FOP032,rainfall_24h,2209,ไร่ วงศ์ ทอง เมฆ ดี
3,1840,8.17327,99.72,STN0753,rainfall_24h,2209,บ้านไสใหญ่เหนือ
4,740732,8.162704,99.759155,FOP031,rainfall_24h,2209,น้ำตกปลิว
...,...,...,...,...,...,...,...
3234,13892,8.232532,99.707782,SWR025,rainfall_24h,2209,ฝายคลองท่าเลา
3235,13893,8.038293,99.64313,SWR026,rainfall_24h,2209,รร.บ้านพูน
3236,740733,8.090225,99.738835,FOP032,rainfall_24h,2209,ไร่ วงศ์ ทอง เมฆ ดี
3237,740734,8.172425,99.74137,FOP033,rainfall_24h,2209,ที่ทำการอุทยานแห่งชาติน้ำตกโยง
3238,740735,8.193921,99.734835,FOP034,rainfall_24h,2209,ฝายคลองเปิก

In [5]:
waters = pd.DataFrame(data_waters.data.values.tolist())
pd.DataFrame(waters).from_records(waters)

,agency,basin,station,geocode,_id,__v,discharge,flow_rate,id,situation_level,sort_order,station_type,storage_percent,waterlevel_datetime,waterlevel_m,waterlevel_msl,waterlevel_msl_previous
0,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501854701_795,0,None,None,501854701,2,None,tele_waterlevel,12.89,2021-07-08 16:40,None,51.17,51.17
1,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501870786_795,0,None,None,501870786,2,None,tele_waterlevel,12.89,2021-07-08 17:30,None,51.17,51.17
2,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501887481_795,0,None,None,501887481,2,None,tele_waterlevel,12.89,2021-07-08 18:40,None,51.17,51.17
3,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501901943_795,0,None,None,501901943,2,None,tele_waterlevel,12.89,2021-07-08 19:40,None,51.17,51.17
4,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501915623_795,0,None,None,501915623,2,None,tele_waterlevel,12.89,2021-07-08 20:40,None,51.17,51.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",505352020_795,0,None,None,505352020,2,None,tele_waterlevel,11.60,2021-07-19 15:40,None,51.11,51.11
261,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",505368219_795,0,None,None,505368219,2,None,tele_waterlevel,11.60,2021-07-19 16:40,None,51.11,51.11
262,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",505385311_795,0,None,None,505385311,2,None,tele_waterlevel,11.60,2021-07-19 17:40,None,51.11,51.11
263,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",505398271_795,0,None,None,505398271,2,None,tele_waterlevel,11.60,2021-07-19 18:40,None,51.11,51.11
264,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",505412865_795,0,None,None,505412865,2,None,tele_waterlevel,11.60,2021-07-19 19:40,None,51.11,51.12

In [6]:
rainfall_datetime = pd.DataFrame(data_rains.data.values.tolist())['rainfall_datetime']
rainfall_datetime

0       2021-07-08 16:00
1       2021-07-08 16:00
2       2021-07-08 16:00
3       2021-07-08 16:00
4       2021-07-08 16:00
              ...
3234    2021-07-19 19:00
3235    2021-07-19 19:00
3236    2021-07-19 19:00
3237    2021-07-19 19:00
3238    2021-07-19 19:00
Name: rainfall_datetime, Length: 3239, dtype: object

In [7]:
rain_24h = pd.DataFrame(data_rains.data.values.tolist())['rain_24h']
rain_24h

0       33.8
1       29.4
2       29.2
3       28.5
4       23.2
        ...
3234       0
3235       0
3236       0
3237       0
3238       0
Name: rain_24h, Length: 3239, dtype: object

In [8]:
waterlevel_msl = pd.DataFrame(data_waters.data.values.tolist())['waterlevel_msl']
waterlevel_msl

0      51.17
1      51.17
2      51.17
3      51.17
4      51.17
       ...
260    51.11
261    51.11
262    51.11
263    51.11
264    51.11
Name: waterlevel_msl, Length: 265, dtype: object

แปลง dtype:object ไปเป็น float

In [9]:
x=pd.concat([rain_24h, waterlevel_msl],axis=0,ignore_index=True).astype(float)
x

0       33.80
1       29.40
2       29.20
3       28.50
4       23.20
        ...
3499    51.11
3500    51.11
3501    51.11
3502    51.11
3503    51.11
Length: 3504, dtype: float64

In [10]:
dc=pd.concat([pd.Series(rainfall_datetime,name="date"),pd.DataFrame(json_normalize(station)),pd.Series(x,name="value")],axis=1)
dc

,date,id,tele_station_lat,tele_station_long,tele_station_oldcode,tele_station_type,sub_basin_id,tele_station_name.th,value
0,2021-07-08 16:00,795,8.174974,99.678886,NKO001,rainfall_24h,2209,ทุ่งสง,33.80
1,2021-07-08 16:00,740735,8.193921,99.734835,FOP034,rainfall_24h,2209,ฝายคลองเปิก,29.40
2,2021-07-08 16:00,740733,8.090225,99.738835,FOP032,rainfall_24h,2209,ไร่ วงศ์ ทอง เมฆ ดี,29.20
3,2021-07-08 16:00,1840,8.17327,99.72,STN0753,rainfall_24h,2209,บ้านไสใหญ่เหนือ,28.50
4,2021-07-08 16:00,740732,8.162704,99.759155,FOP031,rainfall_24h,2209,น้ำตกปลิว,23.20
...,...,...,...,...,...,...,...,...,...
3499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.11
3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.11
3501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.11
3502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.11
3503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.11

In [11]:
table=dc.drop(columns=['id','tele_station_oldcode','tele_station_type','tele_station_lat','tele_station_long','sub_basin_id'],axis=1)
table

                  date tele_station_name.th  value
0     2021-07-08 16:00               ทุ่งสง  33.80
1     2021-07-08 16:00          ฝายคลองเปิก  29.40
2     2021-07-08 16:00  ไร่ วงศ์ ทอง เมฆ ดี  29.20
3     2021-07-08 16:00      บ้านไสใหญ่เหนือ  28.50
4     2021-07-08 16:00            น้ำตกปลิว  23.20
...                ...                  ...    ...
3499               NaN                  NaN  51.11
3500               NaN                  NaN  51.11
3501               NaN                  NaN  51.11
3502               NaN                  NaN  51.11
3503               NaN                  NaN  51.11

[3504 rows x 3 columns]

In [12]:
final=dc.reset_index().pivot_table(index=['date'],columns=['tele_station_name.th'],values=['value']).fillna(0)
final

                                              value                   \
tele_station_name.th ที่ทำการอุทยานแห่งชาติน้ำตกโยง ทุ่งสง น้ำตกปลิว
date
2021-07-08 15:00                                0.0    0.0       0.0
2021-07-08 16:00                               21.4   33.8      23.2
2021-07-08 17:00                               18.2   27.8      22.0
2021-07-08 18:00                               18.0   27.8      22.0
2021-07-08 19:00                               18.0   27.8      22.0
...                                             ...    ...       ...
2021-07-19 15:00                                0.0    0.0       1.0
2021-07-19 16:00                                0.0    0.0       1.0
2021-07-19 17:00                                0.0    0.0       1.0
2021-07-19 18:00                                0.0    0.0       1.0
2021-07-19 19:00                                0.0    0.0       1.0

                                                                       \
tele_station_name.th บ้านหน้าเขา บ้านหินราว บ้านเขาโร บ้านไสใหญ่เหนือ
date
2021-07-08 15:00            20.5        0.0       0.0             0.0
2021-07-08 16:00             0.5       18.5       0.0            28.5
2021-07-08 17:00             3.5       18.5       0.0            25.5
2021-07-08 18:00             3.5       18.5       0.0            25.5
2021-07-08 19:00             3.5       18.5       0.0            25.5
...                          ...        ...       ...             ...
2021-07-19 15:00             0.5        0.0       0.0             0.0
2021-07-19 16:00             0.0        0.0       0.0             0.0
2021-07-19 17:00             0.5        0.0       0.0             0.0
2021-07-19 18:00             0.5        0.0       0.0             0.0
2021-07-19 19:00             0.5        0.0       0.0             0.0

                                                           \
tele_station_name.th ฝายคลองท่าเลา ฝายคลองเปิก รร.บ้านพูน
date
2021-07-08 15:00               0.0         0.0        0.0
2021-07-08 16:00               8.4        29.4       13.6
2021-07-08 17:00               8.4        16.4       13.6
2021-07-08 18:00               8.4        16.4       13.6
2021-07-08 19:00               8.4        16.4       13.6
...                            ...         ...        ...
2021-07-19 15:00               0.0         0.0        0.0
2021-07-19 16:00               0.0         0.0        0.0
2021-07-19 17:00               0.0         0.0        0.0
2021-07-19 18:00               0.0         0.0        0.0
2021-07-19 19:00               0.0         0.0        0.0

                                                                     \
tele_station_name.th หน่วยพิทักษ์อุทยานแห่งชาติที่ ขป.๔ (บ้านน้ำตก)
date
2021-07-08 15:00                                                0.0
2021-07-08 16:00                                               17.4
2021-07-08 17:00                                               17.4
2021-07-08 18:00                                               17.4
2021-07-08 19:00                                               17.4
...                                                             ...
2021-07-19 15:00                                                3.4
2021-07-19 16:00                                                3.4
2021-07-19 17:00                                                3.4
2021-07-19 18:00                                                3.4
2021-07-19 19:00                                                3.4


tele_station_name.th ไร่ วงศ์ ทอง เมฆ ดี
date
2021-07-08 15:00                     0.0
2021-07-08 16:00                    29.2
2021-07-08 17:00                    29.2
2021-07-08 18:00                    29.2
2021-07-08 19:00                    29.2
...                                  ...
2021-07-19 15:00                     0.0
2021-07-19 16:00                     0.0
2021-07-19 17:00                     0.0
2021-07-19 18:00                     0.0
2021-07-19 19:00                     0.0

[268 rows x 12 columns]

https://blog.datath.com/cheatsheet-pandas/
https://www.analyticsvidhya.com/blog/2020/03/pivot-table-pandas-python/