In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import random
from pandas import json_normalize
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
url='https://www.rtfloodbma.com/api/rains';
data_rains=pd.read_json(url,orient='columns')

In [3]:
url='https://www.rtfloodbma.com/api/waters';
data_waters=pd.read_json(url,orient='columns')

In [4]:
station=pd.DataFrame(data_rains.data.values.tolist())['station']
pd.DataFrame(station).from_records(station)
pd.json_normalize(station)

,id,tele_station_lat,tele_station_long,tele_station_oldcode,tele_station_type,sub_basin_id,tele_station_name.th
0,795,8.174974,99.678886,NKO001,rainfall_24h,2209,ทุ่งสง
1,740735,8.193921,99.734835,FOP034,rainfall_24h,2209,ฝายคลองเปิก
2,740733,8.090225,99.738835,FOP032,rainfall_24h,2209,ไร่ วงศ์ ทอง เมฆ ดี
3,1840,8.17327,99.72,STN0753,rainfall_24h,2209,บ้านไสใหญ่เหนือ
4,740732,8.162704,99.759155,FOP031,rainfall_24h,2209,น้ำตกปลิว
...,...,...,...,...,...,...,...
1452,740733,8.090225,99.738835,FOP032,rainfall_24h,2209,ไร่ วงศ์ ทอง เมฆ ดี
1453,740734,8.172425,99.74137,FOP033,rainfall_24h,2209,ที่ทำการอุทยานแห่งชาติน้ำตกโยง
1454,740735,8.193921,99.734835,FOP034,rainfall_24h,2209,ฝายคลองเปิก
1455,855520,7.963343,99.761126,MOU130,rainfall_24h,1919,หน่วยพิทักษ์อุทยานแห่งชาติที่ ขป.๔ (บ้านน้ำตก)
1456,795,8.174974,99.678886,NKO001,rainfall_24h,2209,ทุ่งสง

In [5]:
waters = pd.DataFrame(data_waters.data.values.tolist())
pd.DataFrame(waters).from_records(waters).head()

,agency,basin,station,geocode,_id,__v,discharge,flow_rate,id,situation_level,sort_order,station_type,storage_percent,waterlevel_datetime,waterlevel_m,waterlevel_msl,waterlevel_msl_previous
0,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501854701_795,0,None,None,501854701,2,None,tele_waterlevel,12.89,2021-07-08 16:40,None,51.17,51.17
1,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501870786_795,0,None,None,501870786,2,None,tele_waterlevel,12.89,2021-07-08 17:30,None,51.17,51.17
2,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501887481_795,0,None,None,501887481,2,None,tele_waterlevel,12.89,2021-07-08 18:40,None,51.17,51.17
3,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501901943_795,0,None,None,501901943,2,None,tele_waterlevel,12.89,2021-07-08 19:40,None,51.17,51.17
4,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501915623_795,0,None,None,501915623,2,None,tele_waterlevel,12.89,2021-07-08 20:40,None,51.17,51.17

In [6]:
rainfall_datetime = pd.DataFrame(data_rains.data.values.tolist())['rainfall_datetime']

In [7]:
rain_24h = pd.DataFrame(data_rains.data.values.tolist())['rain_24h']

In [8]:
waterlevel_msl = pd.DataFrame(data_waters.data.values.tolist())['waterlevel_msl']

In [9]:
y=pd.Series(np.random.randint(0, 100, size=1457),index=list(range(1457 )),dtype='float32')

In [10]:
dc=pd.concat([pd.DataFrame(json_normalize(station)),pd.Series(rainfall_datetime,name="date"),pd.Series(rain_24h,name="x1"),pd.Series(waterlevel_msl,name="x2"),pd.Series(y,name="y")],axis=1)
dc

,id,tele_station_lat,tele_station_long,tele_station_oldcode,tele_station_type,sub_basin_id,tele_station_name.th,date,x1,x2,y
0,795,8.174974,99.678886,NKO001,rainfall_24h,2209,ทุ่งสง,2021-07-08 16:00,33.8,51.17,3.0
1,740735,8.193921,99.734835,FOP034,rainfall_24h,2209,ฝายคลองเปิก,2021-07-08 16:00,29.4,51.17,98.0
2,740733,8.090225,99.738835,FOP032,rainfall_24h,2209,ไร่ วงศ์ ทอง เมฆ ดี,2021-07-08 16:00,29.2,51.17,63.0
3,1840,8.17327,99.72,STN0753,rainfall_24h,2209,บ้านไสใหญ่เหนือ,2021-07-08 16:00,28.5,51.17,89.0
4,740732,8.162704,99.759155,FOP031,rainfall_24h,2209,น้ำตกปลิว,2021-07-08 16:00,23.2,51.17,38.0
...,...,...,...,...,...,...,...,...,...,...,...
1452,740733,8.090225,99.738835,FOP032,rainfall_24h,2209,ไร่ วงศ์ ทอง เมฆ ดี,2021-07-13 20:00,0,NaN,26.0
1453,740734,8.172425,99.74137,FOP033,rainfall_24h,2209,ที่ทำการอุทยานแห่งชาติน้ำตกโยง,2021-07-13 20:00,0,NaN,90.0
1454,740735,8.193921,99.734835,FOP034,rainfall_24h,2209,ฝายคลองเปิก,2021-07-13 20:00,0,NaN,24.0
1455,855520,7.963343,99.761126,MOU130,rainfall_24h,1919,หน่วยพิทักษ์อุทยานแห่งชาติที่ ขป.๔ (บ้านน้ำตก),2021-07-13 20:00,0,NaN,90.0
1456,795,8.174974,99.678886,NKO001,rainfall_24h,2209,ทุ่งสง,2021-07-13 20:00,0,NaN,77.0

In [23]:
dc.drop(columns=['tele_station_oldcode','tele_station_type','tele_station_lat','tele_station_long','sub_basin_id'],axis=1)

,id,tele_station_name.th,date,x1,x2,y
0,795,ทุ่งสง,2021-07-08 16:00,33.8,51.17,3.0
1,740735,ฝายคลองเปิก,2021-07-08 16:00,29.4,51.17,98.0
2,740733,ไร่ วงศ์ ทอง เมฆ ดี,2021-07-08 16:00,29.2,51.17,63.0
3,1840,บ้านไสใหญ่เหนือ,2021-07-08 16:00,28.5,51.17,89.0
4,740732,น้ำตกปลิว,2021-07-08 16:00,23.2,51.17,38.0
...,...,...,...,...,...,...
1452,740733,ไร่ วงศ์ ทอง เมฆ ดี,2021-07-13 20:00,0,NaN,26.0
1453,740734,ที่ทำการอุทยานแห่งชาติน้ำตกโยง,2021-07-13 20:00,0,NaN,90.0
1454,740735,ฝายคลองเปิก,2021-07-13 20:00,0,NaN,24.0
1455,855520,หน่วยพิทักษ์อุทยานแห่งชาติที่ ขป.๔ (บ้านน้ำตก),2021-07-13 20:00,0,NaN,90.0
1456,795,ทุ่งสง,2021-07-13 20:00,0,NaN,77.0

In [24]:
# dc.reset_index().pivot_table(index=['date','x1','x2'],values='y', columns='tele_station_name.th')

In [30]:
table=dc.reset_index().pivot_table(index=['date','x1','x2'],values=['y'], columns='tele_station_name.th')

In [31]:
table

                                                         y                   \
tele_station_name.th        ที่ทำการอุทยานแห่งชาติน้ำตกโยง ทุ่งสง น้ำตกปลิว
date             x1   x2
2021-07-08 15:00 20.5 51.19                            NaN    NaN       NaN
2021-07-08 16:00 0.5  51.19                            NaN    NaN       NaN
                 13.6 51.19                            NaN    NaN       NaN
                 17.4 51.19                            NaN    NaN       NaN
                 18.5 51.20                            NaN    NaN       NaN
...                                                    ...    ...       ...
2021-07-09 02:00 17.2 51.14                            NaN    NaN       NaN
                 22.6 51.14                            NaN    NaN       1.0
                 25   51.14                            NaN    NaN       NaN
                 28.4 51.15                            NaN   25.0       NaN
                 32.6 51.15                            NaN    NaN       NaN

                                                                    \
tele_station_name.th        บ้านหน้าเขา บ้านหินราว บ้านไสใหญ่เหนือ
date             x1   x2
2021-07-08 15:00 20.5 51.19        48.0        NaN             NaN
2021-07-08 16:00 0.5  51.19         6.0        NaN             NaN
                 13.6 51.19         NaN        NaN             NaN
                 17.4 51.19         NaN        NaN             NaN
                 18.5 51.20         NaN       77.0             NaN
...                                 ...        ...             ...
2021-07-09 02:00 17.2 51.14         NaN        NaN             NaN
                 22.6 51.14         NaN        NaN             NaN
                 25   51.14         NaN        NaN            85.0
                 28.4 51.15         NaN        NaN             NaN
                 32.6 51.15         NaN        NaN             NaN

                                                                  \
tele_station_name.th        ฝายคลองท่าเลา ฝายคลองเปิก รร.บ้านพูน
date             x1   x2
2021-07-08 15:00 20.5 51.19           NaN         NaN        NaN
2021-07-08 16:00 0.5  51.19           NaN         NaN        NaN
                 13.6 51.19           NaN         NaN       57.0
                 17.4 51.19           NaN         NaN        NaN
                 18.5 51.20           NaN         NaN        NaN
...                                   ...         ...        ...
2021-07-09 02:00 17.2 51.14           NaN         NaN        NaN
                 22.6 51.14           NaN         NaN        NaN
                 25   51.14           NaN         NaN        NaN
                 28.4 51.15           NaN         NaN        NaN
                 32.6 51.15           NaN         NaN        NaN

                                                                            \
tele_station_name.th        หน่วยพิทักษ์อุทยานแห่งชาติที่ ขป.๔ (บ้านน้ำตก)
date             x1   x2
2021-07-08 15:00 20.5 51.19                                            NaN
2021-07-08 16:00 0.5  51.19                                            NaN
                 13.6 51.19                                            NaN
                 17.4 51.19                                           35.0
                 18.5 51.20                                            NaN
...                                                                    ...
2021-07-09 02:00 17.2 51.14                                           75.0
                 22.6 51.14                                            NaN
                 25   51.14                                            NaN
                 28.4 51.15                                            NaN
                 32.6 51.15                                            NaN


tele_station_name.th        ไร่ วงศ์ ทอง เมฆ ดี
date             x1   x2
2021-07-08 15:00 20.5 51.19                 NaN
2021-07-08 16:00 0.5  51.19                 NaN
                 13.6 51.19                 NaN
                 17.4 51.19                 NaN
                 18.5 51.20                 NaN
...                                         ...
2021-07-09 02:00 17.2 51.14                 NaN
                 22.6 51.14                 NaN
                 25   51.14                 NaN
                 28.4 51.15                 NaN
                 32.6 51.15                29.0

[121 rows x 11 columns]